body
{
    font-family : 'Special Elite' , cursive;
    background: blue;
}

.header_div 
{
    background: white;
    color: cyan;
}

.header_div p{
    font-family: 'Square Peg', cursive; 
    color: gray;
    letter-spacing: normal;
    font-size: 12px;
    font-weight: bold;
}
.main_div button {
    font-family: 'Square Peg', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder ;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color:coral;
    bottom:0;
    width: 100%;
    font-size: 18px;
    background-color: aqua;
    line-height: 3;
    text-align:center;
    text-shadow:5px 5px 5px rgb(red, green, blue) ;
}
